<div class="section--hero">
  <h1>ITSD Navigator</h1>
  <div class="actions-grid">
    <div class="grid--column">
      <a href="/employees">
        <div class="action-content">
          <p>Employee Info</p> 
        </div>
      </a>
    </div>
    <div class="grid--column">
      <a href="/ticket-routing">
        <div class="action-content">
          <p>Ticket Routing</p>
        </div>
      </a>
    </div>
    <div class="grid--column">
      <a href="/locations">
        <div class="action-content">
          <p>Dish Locations</p>
        </div>
      </a>
    </div>
    <div class="grid--column">
      <a href="/copypastas">
        <div class="action-content">
          <p>Copypastas</p>
        </div>
      </a>
    </div>
    <div class="grid--column">
      <a href="/chatroom">
        <div class="action-content">
          <p>Chatroom</p>
        </div>
      </a>
    </div>
    <div class="grid--column">
      <a href="/troubleshoot">
        <div class="action-content">
          <p>Troubleshoot</p>
        </div>
      </a>
    </div>
  </div>
</div>



